* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
  transition: margin 0.9s;
}
