$color-beguni-dark: #3c1e6e;
$color-white: #ffffff;
$color-grey-dark: #e5e5e5;
$color-grey-dark-3: #502989;
$color-gray-dark_90: #50298933;
$color-body: #e5e5e5;
$font-poppins: roboto;
$color-card-title: #432574;
$color-beguni-transparent: #5029891f;
$color-pink: #9f69fa;
$bg-footer-color: #5029891a;
$list-item-color: #000000cc;
$color-dark: #00000099;
$color-darken: #000000cc;
$color-dark_80: #000000e5;
$color-dark_70: #000000b2;
$color-dark_40: #00000066;

$color-white-1: #fefefe;

$bg-color: #18212b;
$bg-color-secondary: #232f3e;
$primary-color: #3c1e6e;
$white-color: #fff;
$color-grey-dark-4: #d9d9d9;
$gray: gray;
$color-bg-beguni: #50298952;
$color-black: black;
